.App {
  text-align: center;
}

.note-tabs {
  height: 150px;
  max-width:100%;
  margin: 50px;
  margin-bottom: 0px;
  background-color: rgb(169, 239, 169);
}

.newNoteList {
  background-color: rgb(131, 139, 246);
  margin: auto;
  height: 70px;
  width: 70px;
}

.addNote {
  margin: auto;
}

.text-area {
  height: 600px;
  width: 90%;
  margin: 50px;
  background-color: pink;
}