@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Handlee&family=Indie+Flower&family=Laila:wght@500&family=M+PLUS+1p:wght@300&family=Neucha&family=Poiret+One&display=swap');
html {
 
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.navBar {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid black;
  width: 90%;
  font-family: Laila;
  font-size: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  font-size: 55px;
  font-family: Fredericka the Great;
}

.lightBulb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.note-tabs {
  height: 150px;
  width:90%;
  margin: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Neucha;
}

.note {
  margin: 10px;
  height: 80px;
  width: 85px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Neucha;
}

.noteTitleInput {
  display:flex;
  justify-content: center;
  text-align: center;
  height: 76px;
  max-height: 30;
  max-width: 80px;
  background-color: transparent;
  border: 0;
  resize:none;
  overflow:hidden;
  font-family: neucha;
  font-size: 25px;
}

.addNoteButton, .deleteNoteButton {
  margin: 10px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
  font-family:Laila;
  line-height: 15px;
  background-color:rgb(161, 160, 160);
  color: white;
}

.text-area {
  height: 600px;
  width: 80%;
  margin: 20px;
  border:1px solid black;
  border-radius: 5px;
  color:black;
  font-family: Laila;
  font-size: 25px;
}

.saveNote {
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 100px;
}
